<!DOCTYPE html>
<html lang="zxx">


<head>
	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="Trivlogic pvt ltd">
	<!-- Page Title -->
    <title>HAZELWOOD | HOME</title>
	<!-- Favicon Icon -->
	<link rel="shortcut icon" type="image/x-icon" href="images/hazelwoods/logo.jpg">
	<!-- Google Fonts Css-->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fustat:wght@200..800&amp;display=swap" rel="stylesheet">
	<!-- Bootstrap Css -->
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<!-- SlickNav Css -->
	<link href="css/slicknav.min.css" rel="stylesheet">
	<!-- Swiper Css -->
	<link rel="stylesheet" href="css/swiper-bundle.min.css">
	<!-- Font Awesome Icon Css-->
	<link href="css/all.css" rel="stylesheet" media="screen">
	<!-- Animated Css -->
	<link href="css/animate.css" rel="stylesheet">
    <!-- Magnific Popup Core Css File -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	<!-- Mouse Cursor Css File -->
	<link rel="stylesheet" href="css/mousecursor.css">
	<!-- Main Custom Css -->
	<link href="css/custom.css" rel="stylesheet" media="screen">
</head>
<body>

    <!-- Preloader Start -->
	<div class="preloader">
		<div class="loading-container">
			<div class="loading"></div>
			<div id="loading-icon"><img src="images/hazelwoods/logo.png" alt=""></div>
		</div>
	</div>
	<!-- Preloader End -->

    <!-- Header Start -->
	<header class="main-header">
		<div class="header-sticky">
			<nav class="navbar navbar-expand-lg">
				<div class="container-fluid">
					<!-- Logo Start -->
					<a class="navbar-brand" href="/">
						<img  src="images/hazelwoods/logo.png" alt="Logo">
					</a>
					<!-- Logo End -->

					<!-- Main Menu Start -->
					<div class="collapse navbar-collapse main-menu">
                        <div class="nav-menu-wrapper">
                            <ul class="navbar-nav mr-auto" id="menu">
                                <li class="nav-item "><a style="color: rgb(121, 13, 13);" class="nav-link" href="/">Home</a>
                                
                                </li>  
                                           <li class="nav-item submenu"><a class="nav-link" href="/services">Services</a>

                                         <ul>                                        
                                        <li class="nav-item"><a class="nav-link" href="/accounting-and-consultancy">Accounting and Consultancy</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/company-incorporation">Company incorporation (UK & Non-UK) </a></li>
                             
                                        <li class="nav-item"><a class="nav-link" href="/wealth-management">Wealth Management</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/Trademark-Registration-And-Alcohol-Licensing">Trademark Registration And Alcohol Licensing</a></li>

                    <li class="nav-item"><a class="nav-link" href="/export-and-Import-licensing">Export & Import licensing</a></li>
                                    </ul>
                                </li>                              
                                <li class="nav-item"><a class="nav-link" href="/about">About Us</a></li>
                     
                                <li class="nav-item "><a class="nav-link" href="/news">News</a>
                        
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>                             
                            </ul>
                        </div>
                        <!-- Header Btn Start -->
                        <div class="header-btn d-inline-flex">
            
                            <a href="tel:+447881237894" class="btn-default">get in touch</a>
                        </div>
                        <!-- Header Btn End -->
					</div>
					<!-- Main Menu End -->
					<div class="navbar-toggle"></div>
				</div>
			</nav>
			<div class="responsive-menu"></div>
		</div>
	</header>
	<!-- Header End -->

    <!-- Hero Section Start -->
    <div class="hero bg-section hero-slider-layout">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide overlay-dark">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="images/hero-bg.jpg" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <!-- Hero Section Start -->
                        <div class="hero-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <!-- Section Title Start -->
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">Welcome to Hazelwood.</h3>
                                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Clarity in Finance, <span>Confidence in Growth</span></h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.4s">We simplify complex numbers into clear strategies, offering expert consultancy to guide your business toward sustainable success.</p>
                                            </div>
                                            <!-- Section Title End -->
                    
                                            <!-- Hero Button Start -->
                                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                <a href="/contact" class="btn-default">get in touch</a>
                                                <a href="/services" class="btn-default btn-highlighted">explore more</a>
                                            </div>
                                            <!-- Hero Button End -->
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Section End -->
                    </div>
                </div>
                <!-- Hero Slide End -->

                <!-- Hero Slide Start -->
                <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="images/hero-bg-2.jpg" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <!-- Hero Section Start -->
                        <div class="hero-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <!-- Section Title Start -->
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">Welcome to Hazelwood.</h3>
                                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Effortless Incorporation <span>Lasting Success</span></h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.4s">We simplify business setup, guiding you step by step through the legal and administrative processes for a smooth start.</p>
                                            </div>
                                            <!-- Section Title End -->
                    
                                            <!-- Hero Button Start -->
                                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                <a href="/contact" class="btn-default">get in touch</a>
                                                <a href="/services" class="btn-default btn-highlighted">explore more</a>
                                            </div>
                                            <!-- Hero Button End -->
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Section End -->
                    </div>
                </div>
                           <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="images/hazelwoods/banner-1.jpg" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <!-- Hero Section Start -->
                        <div class="hero-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <!-- Section Title Start -->
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">Welcome to Hazelwood.</h3>
                                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Wealth with Vision <span>Security with Strategy</span></h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.4s">We design personalized wealth solutions that balance growth with protection, ensuring your future is financially secure.</p>
                                            </div>
                                            <!-- Section Title End -->
                    
                                            <!-- Hero Button Start -->
                                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                <a href="/contact" class="btn-default">get in touch</a>
                                                <a href="/services" class="btn-default btn-highlighted">explore more</a>
                                            </div>
                                            <!-- Hero Button End -->
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Section End -->
                    </div>
                </div>
                           <div class="swiper-slide">
                    <div class="hero-slide">
                        <!-- Slider Image Start -->
                        <div class="hero-slider-image">
                            <img src="images/hazelwoods/banner-2.jpg" alt="">
                        </div>
                        <!-- Slider Image End -->

                        <!-- Hero Section Start -->
                        <div class="hero-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Hero Content Start -->
                                        <div class="hero-content">
                                            <!-- Section Title Start -->
                                            <div class="section-title">
                                                <h3 class="wow fadeInUp">Welcome to Hazelwood.</h3>
                                                <h1 class="wow fadeInUp" data-wow-delay="0.2s">Brand Security & <span>Compliance Simplified</span></h1>
                                                <p class="wow fadeInUp" data-wow-delay="0.4s">From trademark registration to alcohol licensing, we ensure your business stays legally protected and fully authorized.</p>
                                            </div>
                                            <!-- Section Title End -->
                    
                                            <!-- Hero Button Start -->
                                            <div class="hero-btn wow fadeInUp" data-wow-delay="0.6s">
                                                <a href="/contact" class="btn-default">get in touch</a>
                                                <a href="/services" class="btn-default btn-highlighted">explore more</a>
                                            </div>
                                            <!-- Hero Button End -->
                                        </div>
                                        <!-- Hero Content End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Hero Section End -->
                    </div>
                </div>
                <!-- Hero Slide End -->
            </div>
            <div class="hero-pagination"></div>
        </div>
    </div>
    <!-- Hero Section End -->

    <!-- About Us Section Start -->
    <div class="about-us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <!-- About Us Image Start -->
                    <div class="about-us-images">
                        <!-- About Us Img Start -->
                        <div class="about-us-img-1">
                            <figure class="image-anime">
                                <img src="images/about-us-img-1.jpg" alt="">
                            </figure>
                        </div>
                        <!-- About Us Img End -->

                        <!-- About Us Img Start -->
                        <div class="about-us-img-2">
                            <figure class="image-anime">
                                <img src="images/about-us-img-2.jpg" alt="">
                            </figure>                
                        </div>
                        <!-- About Us Img End -->
                        
                        <!-- About Experience Box Start -->
                        <div class="about-experience-box">
                            <div class="icon-box">
                                <img src="images/icon-company-experience.svg" alt="">
                            </div>

                            <div class="about-experience-content">
                                <h3><span class="counter">10</span>+ years of experience</h3>
                            </div>
                        </div>
                        <!-- About Experience Box End -->

                  
                    </div>
                    <!-- About Us Image End -->
                </div>

                <div class="col-lg-6">
                    <!-- About Us Content Start -->
                    <div class="about-us-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">about us</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.2s">Welcome to  <span>Hazelwood</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.4s">At Hazelwood, we specialize in guiding entrepreneurs and businesses with expert solutions in Accounting and Consultancy, Company Incorporation, Wealth Management, and Trademark Registration with Alcohol Licensing. Our mission is to simplify complex processes, protect your interests, and create sustainable pathways for success. With a focus on professionalism, compliance, and growth, Hazelwood ensures that every client achieves clarity, confidence, and measurable results in both personal and business endeavors.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- About Us List Start -->
                        <div class="about-us-list wow fadeInUp" data-wow-delay="0.6s">
                            <ul>
                                <li>Expert Guidance & Trusted Solutions</li>
                                <li>Compliance & Growth Made Simple</li>
                            </ul>
                        </div>
                        <!-- About Us List End -->

                        <!-- About Us Body Start -->
                        <div class="about-us-body">
                            <!-- About Company Client Start -->
                            <div class="about-comapny-client wow fadeInUp" data-wow-delay="0.8s">
                                <!-- Company Client Images Start -->
                                <div class="company-client-images">
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img src="images/satisfy-client-img-1.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img src="images/satisfy-client-img-2.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img src="images/satisfy-client-img-3.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img src="images/satisfy-client-img-4.jpg" alt="">
                                        </figure>
                                    </div>
                                    <div class="client-image">
                                        <figure class="image-anime">
                                            <img src="images/satisfy-client-img-5.jpg" alt="">
                                        </figure>
                                    </div>
                                </div>
                                <!-- Company Client Images End -->

                                <!-- Company Client Counter Start -->
                                <div class="company-client-counter">
                                    <p>Join our satisfied clients</p>
                                </div>
                                <!-- Company Client Counter End -->
                            </div>
                            <!-- About Company Client End -->

                            <!-- About Company Result Start -->
                            <div class="about-company-result wow fadeInUp" data-wow-delay="0.8s">
                                <div class="icon-box">
                                    <img src="images/icon-company-result.svg" alt="">
                                </div>
                                
                           <div class="company-result-content">
    <h3>Creative Result</h3>
    <p>Trusted by Businesses</p>
</div>
                            </div>
                            <!-- About Company Result End -->
                        </div>
                        <!-- About Us Body End -->

                        <!-- About Us Footet Start -->
                        <div class="about-us-footer wow fadeInUp" data-wow-delay="1s">
                            <a href="/contact" class="btn-default">get in touch</a>
                        </div>
                        <!-- About Us Footet End -->
                    </div>
                    <!-- About Us Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- About Us Section End -->

    <!-- Our Service Start -->
    <div class="our-service bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <!-- Service Content Start -->
                    <div class="service-content">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h3 class="wow fadeInUp">services</h3>
                            <h2 class="wow fadeInUp" data-wow-delay="0.25s">Comprehensive Solutions for <span class="gradient-text">Your Business Growth</span></h2>
                            <p class="wow fadeInUp" data-wow-delay="0.5s">At Hazelwood, we provide end-to-end business support through Accounting and Consultancy, Company Incorporation, Wealth Management, Trademark Registration , Alcohol Licensing and Exporting & Importing. Our services are designed to simplify complex processes, ensure compliance, and empower entrepreneurs and businesses to achieve sustainable growth with confidence.</p>
                        </div>
                        <!-- Section Title End -->

                        <!-- Service Btn Start -->
                        <div class="service-btn wow fadeInUp" data-wow-delay="0.75s">
                            <a href="/services" class="btn-default">view all services</a>
                        </div>
                        <!-- Service Btn End -->
                    </div>
                    <!-- Service Content End -->
                </div>

                <div class="col-lg-7">
                    <!-- Service Item List Start -->
        <div class="service-item-list">
    <!-- Service Item Start -->
    <div class="service-item wow fadeInUp">
        <div class="icon-box">
            <img src="images/icon-services-2.svg" alt="">
        </div>

        <div class="service-item-content">
            <h3>Accounting and Consultancy</h3>
            <p>Our accounting and consultancy solutions turn complex numbers into clear strategies.
                We help businesses reduce risks, optimize operations, and achieve lasting success.</p>
        </div>
    </div>
    <!-- Service Item End -->

    <!-- Service Item Start -->
    <div class="service-item wow fadeInUp" data-wow-delay="0.2s">
        <div class="icon-box">
            <img src="images/icon-services-1.svg" alt="">
        </div>

        <div class="service-item-content">
            <h3>Company Incorporation (UK & Non-UK)</h3>
            <p>Building a business begins with the right setup.
                We provide complete incorporation services to help you launch with confidence.</p>
        </div>
    </div>
    <!-- Service Item End -->

    <!-- Service Item Start -->
    <div class="service-item wow fadeInUp" data-wow-delay="0.4s">
        <div class="icon-box">
            <img src="images/icon-services-3.svg" alt="">
        </div>

        <div class="service-item-content">
            <h3>Wealth Management</h3>
            <p>We design personalized wealth strategies to help you grow, protect, and optimize your assets.
                Hazelwood ensures financial security and long-term prosperity for individuals and businesses.</p>
        </div>
    </div>
    <!-- Service Item End -->

    <!-- Service Item Start -->
    <div class="service-item wow fadeInUp" data-wow-delay="0.6s">
        <div class="icon-box">
            <img src="images/icon-services-6.svg" alt="">
        </div>

        <div class="service-item-content">
            <h3>Trademark Registration</h3>
            <p>We provide professional trademark registration services to protect your brand identity and ensure
                long-term business security.</p>
        </div>
    </div>
    <!-- Service Item End -->

    <!-- Service Item Start -->
    <div class="service-item wow fadeInUp" data-wow-delay="0.8s">
        <div class="icon-box">
            <img src="images/icon-services-5.svg" alt="">
        </div>

        <div class="service-item-content">
            <h3>Alcohol Licensing</h3>
            <p>We simplify the alcohol licensing process by providing expert guidance to help you meet all legal
                requirements and run your business smoothly.</p>
        </div>
    </div>
    <!-- Service Item End -->

    <!-- Service Item Start -->
    <div class="service-item wow fadeInUp" data-wow-delay="1s">
        <div class="icon-box">
            <img src="images/icon-services-4.svg" alt="">
        </div>

        <div class="service-item-content">
            <h3>Export & Import Licensing</h3>
            <p>We assist businesses with export and import licensing, ensuring compliance with international trade
                regulations for smooth and efficient operations.</p>
        </div>
    </div>
    <!-- Service Item End -->
</div>

                    <!-- Service Item List End -->

                    <!-- Service Footer Start -->
                    <div class="service-footer wow fadeInUp" data-wow-delay="0.25s">
                        <p><span>free</span> Let's make something great work together. <a class="get-btn" href="/contact">get free quote</a></p>
                    </div>
                    <!-- Service Footer Start -->
                </div>
            </div>
        </div>
    </div>
    <!-- Our Service End -->

    <!-- Our Potential Start -->
<div class="our-potential">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Our Potential Content Start -->
                <div class="our-potential-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Why Choose Us</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Trusted expertise <span>for your business growth</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">At Hazelwood, we provide tailored solutions in Accounting, Incorporation, Wealth Management, and Licensing. Our commitment is to simplify complex processes and empower businesses to thrive with confidence.</p>
                    </div>
                    <!-- Section Title End -->

                    <!-- Our Potential Counter Start -->
                    <div class="our-potential-counter">
                        <!-- Potential Counter Item Start -->
                        <div class="potential-counter-item">
                            <div class="counter-circle">
                                <h2><span class="counter">99</span>%</h2>
                            </div>
                            <div class="potential-counter-content">
                                <h3>Satisfied Clients</h3>
                            </div>
                        </div>
                        <!-- Potential Counter Item End -->

                        <!-- Potential Counter Item Start -->
                        <div class="potential-counter-item">
                            <div class="counter-circle">
                                <h2><span class="counter">10</span>+</h2>
                            </div>
                            <div class="potential-counter-content">
                                <h3>Years of Expertise</h3>
                            </div>
                        </div>
                        <!-- Potential Counter Item End -->
                    </div>
                    <!-- Our Potential Counter End -->

                    <!-- Our Potential Body Start -->
                    <div class="our-potential-body">
                        <!-- Potential Body Content Start -->
                        <div class="potential-body-content">
                            <h3 class="wow fadeInUp">Experienced & Reliable Team</h3>
                            <p class="wow fadeInUp" data-wow-delay="0.2s">Our experts bring years of industry knowledge to deliver solutions that are practical, compliant, and growth-driven.</p>
                        </div>
                        <!-- Potential Body Content End -->

                        <!-- Potential Body List Start -->
                        <div class="potential-body-list wow fadeInUp" data-wow-delay="0.4s">
                            <ul>
                                <li>End-to-end business solutions</li>
                                <li>Compliance and growth simplified</li>
                                <li>Personalized guidance for every client</li>
                            </ul>
                        </div>
                        <!-- Potential Body List End -->
                    </div>
                    <!-- Our Potential Body End -->
                </div>
                <!-- Our Potential Content End -->
            </div>

            <div class="col-lg-6">
                <!-- Our Potential Image Start -->
                <div class="our-potential-img">
                    <figure class="image-anime reveal">
                        <img src="images/our-potential-img.jpg" alt="Hazelwood Team">
                    </figure>
                </div>
                <!-- Our Potential Image End -->
            </div>
        </div>
    </div>
</div>

    <!-- Our Potential End -->






    <!-- How We Work Section Start -->
<div class="how-we-work">
    <div class="container">
        <div class="row section-row align-items-center">
            <div class="col-lg-6">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h3 class="wow fadeInUp">how we work</h3>
                    <h2 class="wow fadeInUp" data-wow-delay="0.25s">A clear process for <span>business success</span></h2>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="col-lg-6">
                <!-- Section Button Start -->
                <div class="section-btn wow fadeInUp" data-wow-delay="0.5s">
                    <a href="/contact" class="btn-default">contact us</a>
                </div>
                <!-- Section Button End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- How Work Item Start -->
                <div class="how-work-item wow fadeInUp">
                    <div class="icon-box">
                        <img src="images/icon-how-work-1.svg" alt="">
                    </div>
                    <div class="how-work-content">
                        <h3><span>01.</span> Consultation</h3>
                        <p>We begin with a detailed consultation to understand your business needs and goals.</p>
                    </div>
                </div>
                <!-- How Work Item End -->
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="how-work-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="icon-box">
                        <img src="images/icon-how-work-2.svg" alt="">
                    </div>
                    <div class="how-work-content">
                        <h3><span>02.</span> Strategy Planning</h3>
                        <p>Our experts design a tailored plan covering incorporation, compliance, and financial structuring.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="how-work-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="icon-box">
                        <img src="images/icon-how-work-3.svg" alt="">
                    </div>
                    <div class="how-work-content">
                        <h3><span>03.</span> Execution</h3>
                        <p>From company registration to licensing, we handle all processes efficiently and transparently.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="how-work-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="icon-box">
                        <img src="images/icon-how-work-4.svg" alt="">
                    </div>
                    <div class="how-work-content">
                        <h3><span>04.</span> Ongoing Support</h3>
                        <p>We provide continuous guidance in compliance, taxation, and business expansion.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scrolling Ticker Start -->
    <div class="scrolling-ticker work-ticker">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="scrolling-ticker-box">
                        <div class="scrolling-content">
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Company Incorporation</span>
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Wealth Management</span>
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Trademark Registration</span>
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Alcohol Licensing</span>
                                                        <span><img src="images/asterisk-icon.svg" alt="hazelwood">Export & Import Licensing</span>
                        </div>
                        <div class="scrolling-content">
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Company Incorporation</span>
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Wealth Management</span>
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Trademark Registration</span>
                            <span><img src="images/asterisk-icon.svg" alt="hazelwood">Alcohol Licensing</span>
                                  <span><img src="images/asterisk-icon.svg" alt="hazelwood">Export & Import Licensing</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scrolling Ticker End -->
</div>

    <!-- How We Work Section End -->



    <!-- Our FAQs Section Start -->
<div class="our-faqs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- Our FAQs Content Start -->
                <div class="our-faqs-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">FAQ</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">
                            Your Hazelwood service questions <span>answered simply here</span>
                        </h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- FAQs CTA Box Start -->
                    <div class="faqs-cta-box wow fadeInUp" data-wow-delay="0.75s">
                        <!-- Company Client Images Start -->
                        <div class="company-client-images">
                            <div class="client-image">
                                <figure class="image-anime">
                                    <img src="images/satisfy-client-img-1.jpg" alt="">
                                </figure>
                            </div>
                            <div class="client-image">
                                <figure class="image-anime">
                                    <img src="images/satisfy-client-img-2.jpg" alt="">
                                </figure>
                            </div>
                            <div class="client-image">
                                <figure class="image-anime">
                                    <img src="images/satisfy-client-img-3.jpg" alt="">
                                </figure>
                            </div>
                            <div class="client-image">
                                <figure class="image-anime">
                                    <img src="images/satisfy-client-img-4.jpg" alt="">
                                </figure>
                            </div>
                            <div class="client-image">
                                <figure class="image-anime">
                                    <img src="images/satisfy-client-img-5.jpg" alt="">
                                </figure>
                            </div>
                        </div>
                        <!-- Company Client Images End -->
                        <div class="faqs-cta-content">
                            <h3>Still have any questions?</h3>
                            <p>Our UK-based team is ready to guide you with expert advice and tailored solutions.</p>
                            <a target="_blank" href="tel:+447881237894" class="btn-phone"><i class="fa-solid fa-phone-volume"></i>+44 7881 237894</a>
                            <a target="_blank" href="tel:+441604385204" class="btn-phone"><i class="fa-solid fa-phone-volume"></i>+44 1604385204</a>
                        </div>
                    </div>
                    <!-- FAQs CTA Box End -->
                </div>
                <!-- Our FAQs Content End -->
            </div>

            <div class="col-lg-6">
                <div class="our-faq-section">
                    <!-- FAQ Accordion Start -->
                    <div class="faq-accordion" id="faqaccordion">

                        <!-- FAQ Item 1 -->
                        <div class="accordion-item wow fadeInUp">
                            <h2 class="accordion-header" id="heading1">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                                    What does Accounting and Consultancy include at Hazelwood?
                                </button>
                            </h2>
                            <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#faqaccordion">
                                <div class="accordion-body">
                                    <p>We provide full accounting support for UK businesses, including bookkeeping, tax compliance, payroll, and financial consultancy. Our aim is to ensure your company meets HMRC requirements while optimising your financial operations.</p>
                                </div>
                            </div>
                        </div>

                        <!-- FAQ Item 2 -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.2s">
                            <h2 class="accordion-header" id="heading2">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                  Can I form a UK limited company if I am not a UK resident?
                                </button>
                            </h2>
                            <div id="collapse2" class="accordion-collapse collapse show" aria-labelledby="heading2" data-bs-parent="#faqaccordion">
                                <div class="accordion-body">
                                    <p>Yes.Non-resident entrepreneurs can fully establish and manage a UK limited company. Our International Package is tailored for overseas clients, offering a seamless and compliant setup without the need for physical presence.</p>
                                </div>
                            </div>
                        </div>

                        <!-- FAQ Item 3 -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.4s">
                            <h2 class="accordion-header" id="heading3">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Who benefits from Hazelwood’s Wealth Management services?
                                </button>
                            </h2>
                            <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#faqaccordion">
                                <div class="accordion-body">
                                    <p>Our wealth management services are designed for UK entrepreneurs, professionals, and international investors. We focus on tax efficiency, investments, retirement planning, and strategies for long-term financial security.</p>
                                </div>
                            </div>
                        </div>

                        <!-- FAQ Item 4 -->
                        <div class="accordion-item wow fadeInUp" data-wow-delay="0.6s">
                            <h2 class="accordion-header" id="heading4">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    Do you assist with Trademark Registration and Alcohol Licensing?
                                </button>
                            </h2>
                            <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#faqaccordion">
                                <div class="accordion-body">
                                    <p>Yes, we handle UK trademark applications to protect your brand and assist with alcohol licensing for pubs, restaurants, and retail businesses. Our team ensures compliance with UK Intellectual Property and licensing laws.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- FAQ Accordion End -->
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Our FAQs Section End -->


    <!-- Our Blog Section Start -->
 <div class="our-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <!-- Our Blog Content Start -->
                <div class="our-blog-content">
                    <!-- Section Title Start -->
                    <div class="section-title">
                        <h3 class="wow fadeInUp">Insights</h3>
                        <h2 class="wow fadeInUp" data-wow-delay="0.25s">Latest updates on <span>business services</span></h2>
                    </div>
                    <!-- Section Title End -->

                    <!-- Our Blog Button Start -->
                    <div class="our-blog-btn wow fadeInUp" data-wow-delay="0.5s">
                        <a href="/contact" class="btn-default">contact us</a>
                    </div>
                    <!-- Our Blog Button End -->
                </div>
                <!-- Our Blog Content End -->                 
            </div>

            <div class="col-lg-8">
                <!-- Blog Box Start -->
                <div class="blog-box">
                    
                    <!-- Blog Item Start -->
                    <div class="blog-item wow fadeInUp">
                        <div class="blog-featured-image">
                            <a href="/building-financial-clarity" class="image-anime" data-cursor-text="View">
                                <figure>
                                    <img src="images/hazelwoods/blog-1.jpg" alt="Accounting and Consultancy">
                                </figure>
                            </a>
                        </div>
                        <div class="blog-item-body">
                            <div class="blog-item-content">
                                <h2><a href="/building-financial-clarity">Accounting & Consultancy: Building Financial Clarity</a></h2>
                                <p>Stay compliant and make informed decisions with professional accounting and advisory services tailored for businesses of every size.</p>
                            </div>
                            <div class="blog-item-btn">
                                <a href="/building-financial-clarity" class="btn-default">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item End -->

                    <!-- Blog Item Start -->
                    <div class="blog-item wow fadeInUp" data-wow-delay="0.25s">
                        <div class="blog-featured-image">
                            <a href="/your-gateway-to-growth" class="image-anime" data-cursor-text="View">
                                <figure>
                                    <img src="images/hazelwoods/blog-2.jpg" alt="Company Incorporation">
                                </figure>
                            </a>
                        </div>
                        <div class="blog-item-body">
                            <div class="blog-item-content">
                                <h2><a href="/your-gateway-to-growth">Company Incorporation: Your Gateway to Growth</a></h2>
                                <p>From local entrepreneurs to international clients, we simplify the process of setting up a business with full compliance and expert guidance.</p>
                            </div>
                            <div class="blog-item-btn">
                                <a href="/your-gateway-to-growth" class="btn-default">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item End -->

                    <!-- Blog Item Start -->
                    <div class="blog-item wow fadeInUp" data-wow-delay="0.5s">
                        <div class="blog-featured-image">
                            <a href="/secure-and-grow-your-assets" class="image-anime" data-cursor-text="View">
                                <figure>
                                    <img src="images/hazelwoods/blog-3.jpg" alt="Wealth Management">
                                </figure>
                            </a>
                        </div>
                        <div class="blog-item-body">
                            <div class="blog-item-content">
                                <h2><a href="/secure-and-grow-your-assets">Wealth Management: Secure & Grow Your Assets</a></h2>
                                <p>Tailored strategies that protect your investments, optimize returns, and ensure long-term financial stability.</p>
                            </div>
                            <div class="blog-item-btn">
                                <a href="/secure-and-grow-your-assets" class="btn-default">read more</a>
                            </div>
                        </div>
                    </div>
                    <!-- Blog Item End -->

                    <!-- Blog Item Start -->
          
                    <!-- Blog Item End -->

                </div>
                <!-- Blog Box End -->
            </div>
        </div>
    </div>
</div>

    <!-- Our Blog Section End -->
     <div class="d-flex justify-content-center">
   <div class="row align-items-center w-75 justify-content-center">
            <div class="col-lg-12">
                <!-- Contact Us Form Start -->
                <div class="contact-us-form " style="border: solid 1px red; margin-bottom: 2rem;">
                    <!-- Contact Us Title Start -->
                    <div class="contact-us-title">
                        <h3 class="wow fadeInUp">Send us a message</h3>
                        <p class="wow fadeInUp" data-wow-delay="0.2s">
                            Whether you have a question or want to discuss your goals, our team at Hazelwood is here to help. 
                            Reach out today and let’s start building your path to success.
                        </p>
                    </div>
                    <!-- Contact Us Title End -->

                    <!-- Contact Us Form Start -->
                    <form id="contactForm" action="http://localhost:3001/api/contact" method="POST" data-toggle="validator" class="wow fadeInUp" data-wow-delay="0.4s">
                        <div class="row">
                            <div class="form-group col-md-6 mb-4">
                                <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-6 mb-4">
                                <input type="email" name ="email" class="form-control" id="email" placeholder="Email Address" required>
                                <div class="help-block with-errors"></div>
                            </div>
                            
                            <div class="form-group col-md-6 mb-4">
                                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number" required>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group col-md-12 mb-5">
                                <textarea name="message" class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>

                            <div class="col-lg-12">
                                <div class="contact-form-btn">
                                    <button type="submit" class="btn-default">Submit Message</button>
                                    <div id="msgSubmit" class="h3" style="display:none;"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <script>
// Intercept form to send via fetch
const contactForm = document.getElementById('contactForm');
const msgBox = document.getElementById('msgSubmit');
contactForm.addEventListener('submit', async function(e) {
  e.preventDefault();
  msgBox.style.display = 'none';
  msgBox.classList.remove('text-success','text-danger');
  const formData = new FormData(contactForm);
  const data = Object.fromEntries(formData.entries());

  try {
    const resp = await fetch(contactForm.action, {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify(data)
    });
    const resJson = await resp.json();
    if(resJson.success) {
      msgBox.textContent = 'Message sent successfully!';
      msgBox.style.display = 'block';
      msgBox.classList.add('text-success');
      contactForm.reset();
    } else {
      throw new Error(resJson.message||'Unknown error');
    }
  } catch(err) {
    msgBox.textContent = 'Failed to send message. Please try again later.';
    msgBox.style.display = 'block';
    msgBox.classList.add('text-danger');
  }
});
                    </script>
                    <!-- Contact Us Form End -->
                </div>
                <!-- Contact Us Form End -->
            </div>
            
       
        </div>
     </div>
     
    <!-- Footer Start -->
    <footer class="main-footer bg-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <!-- About Footer Start -->
                    <div class="about-footer">
                        <!-- Section Title Start -->
                        <div class="section-title">
                            <h2>Shaping <span class="gradient-text">business success</span> with expert guidance</h2>
                        </div>
                        <!-- Section Title End -->
                        <p>At Hazelwood, we specialize in Accounting, Company Incorporation, Wealth Management, and
                            Licensing Solutions—empowering businesses to grow with confidence and compliance.</p>
                    </div>
                    <!-- About Footer End -->
                </div>

                <div class="col-lg-3 col-md-3">
                    <!-- Footer Contact Information Start -->
                    <div class="footer-contact-info">
                        <h3>Office</h3>
                        <p>Hazelwood Associates Ltd T/A Hazelwood Accountants Marlborough House, 32 - 36 Hazelwood Road,
                            Northampton, United Kingdom, NN1 1LN</p>
                    </div>
                    <!-- Footer Contact Information End -->

                    <!-- Footer Social Link Start -->
                    <div class="footer-social-links">
                        <ul>

                            <li><a href="https://www.facebook.com/share/19mDHxP8Un/?mibextid=wwXIfr"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a
                                    href="https://www.instagram.com/__hazelwoodaccountants__?utm_source=qr&igsh=dTV3eGU5Yjl6ZHBz"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/hazelwood-accountants-ltd/"><i
                                        class="fa-brands fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <!-- Footer Social Link End -->
                </div>

                <div class="col-lg-2 col-md-3">
                    <!-- Footer Contact Information Start -->
                    <div class="footer-contact-info">
                        <h3>Get in touch</h3>
                        <a target="_blank" href="mailto: info@hazelwoodaccountants.co.uk ">
                            <p> info@hazelwoodaccountants.co.uk </p>
                        </a>
                        <a target="_blank" href="tel:+447881237894">
                            <p><span>+44 7881 237894</span></p>
                        </a>
                        <a target="_blank" href="tel:+441604385204">
                            <p><span>+44 1604 385204</span></p>
                        </a>
                    </div>
                    <!-- Footer Contact Information End -->
                </div>
            </div>

            <!-- Footer Copyright Section Start -->
            <div class="footer-copyright">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <!-- Footer Menu Start -->
                        <div class="footer-menu">
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/services">Services</a></li>
                                <li><a href="/about">About</a></li>
                                <li><a href="/news">News</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- Footer Menu End -->
                    </div>

                    <div class="col-md-6">
                        <!-- Footer Copyright Start -->
                        <div class="footer-copyright-text">
                            <p>© All Right Reserved by Hazelwood Associates Ltd T/A Hazelwood Accountants</p>
                        </div>
                        <!-- Footer Copyright End -->
                    </div>
                </div>
            </div>
            <!-- Footer Copyright Section End -->
        </div>
    </footer>

    <!-- Footer End -->
 <div class="floating-contact-widget">
        <!-- WhatsApp Button with Country Options -->
        <div class="contact-main-btn" id="whatsapp-btn">
            <a href="#" class="contact-action-btn whatsapp-contact-btn" onclick="toggleCountryOptions('whatsapp-btn'); return false;">
                <svg class="contact-btn-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893A11.821 11.821 0 0020.484 3.687"/>
                </svg>
                <div class="contact-tooltip">WhatsApp Chat</div>
            </a>
            
            <div class="country-options">
                <a href="https://wa.me/919020612090?text=Hello%20Hazelwood%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services." target="_blank" class="country-btn india-btn">
                   <div class="country-code">IND</div>
                 
                    <div class="country-tooltip">India WhatsApp</div>
                </a>
                <a href="https://wa.me/447881237894?text=Hello%20Hazelwood%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services." target="_blank" class="country-btn uk-btn">
               
                    <div class="country-code">UK</div>
                    <div class="country-tooltip">UK WhatsApp</div>
                </a>
                <a href="https://wa.me/971564456459?text=Hello%20Hazelwood%2C%20I%20would%20like%20to%20know%20more%20about%20your%20services." target="_blank" class="country-btn dubai-btn">
              
                    <div class="country-code">UAE</div>
                    <div class="country-tooltip">Dubai WhatsApp</div>
                </a>
            </div>
        </div>

        <!-- Call Button with Country Options -->
        <div class="contact-main-btn" id="call-btn">
            <a href="#" class="contact-action-btn call-contact-btn" onclick="toggleCountryOptions('call-btn'); return false;">
                <svg class="contact-btn-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
                </svg>
                <div class="contact-tooltip">Call Now</div>
            </a>
            
            <div class="country-options">
                <a href="tel:+919020612090" class="country-btn india-btn">
                 
                     <div class="country-code">IND</div>
                    <div class="country-tooltip">Call India</div>
                </a>
                <a href="tel:+447881237894" class="country-btn uk-btn">
                
                    <div class="country-code">UK</div>
                    <div class="country-tooltip">Call UK</div>
                </a>
                <a href="tel:+971564456459" class="country-btn dubai-btn">
                
                    <div class="country-code">UAE</div>
                    <div class="country-tooltip">Call Dubai</div>
                </a>
            </div>
        </div>
    </div>

     <div class="mobile-nav-container">
        <nav class="mobile-nav-wrapper">
            <div class="mobile-nav-menu">
                <!-- Home -->
                <a href="/" class="mobile-nav-item nav-active">
                    <svg class="mobile-nav-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2L2 12h3v8h6v-6h2v6h6v-8h3L12 2z"/>
                    </svg>
                    <span class="mobile-nav-label">Home</span>
                </a>

                <!-- Services -->
                <a href="/services" class="mobile-nav-item">
                    <svg class="mobile-nav-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"/>
                    </svg>
                    <span class="mobile-nav-label">Services</span>
                </a>

                <!-- About -->
                <a href="/about" class="mobile-nav-item">
                    <svg class="mobile-nav-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/>
                    </svg>
                    <span class="mobile-nav-label">About</span>
                </a>

                <!-- News -->
                <a href="/news" class="mobile-nav-item">
                    <svg class="mobile-nav-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9H9V9h10v2zm-4 4H9v-2h6v2zm4-8H9V5h10v2z"/>
                    </svg>

                    <span class="mobile-nav-label">News</span>
                </a>

                <!-- Contact -->
                <a href="/contact" class="mobile-nav-item">
                    <svg class="mobile-nav-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
                    </svg>
                    <span class="mobile-nav-label">Contact</span>
                </a>
            </div>
        </nav>
    </div>

    <!-- Jquery Library File -->
    <script src="js/jquery-3.7.1.min.js"></script>
    <!-- Bootstrap js file -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Validator js file -->
    <script src="js/validator.min.js"></script>
    <!-- SlickNav js file -->
    <script src="js/jquery.slicknav.js"></script>
    <!-- Swiper js file -->
    <script src="js/swiper-bundle.min.js"></script>
    <!-- Counter js file -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <!-- Magnific js file -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- SmoothScroll -->
    <script src="js/SmoothScroll.js"></script>
    <!-- Parallax js -->
    <script src="js/parallaxie.js"></script>
    <!-- MagicCursor js file -->
    <script src="js/gsap.min.js"></script>
    <script src="js/magiccursor.js"></script>
    <!-- Text Effect js file -->
    <script src="js/SplitText.js"></script>
    <script src="js/ScrollTrigger.min.js"></script>
    <!-- YTPlayer js File -->
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <!-- Wow js file -->
    <script src="js/wow.js"></script>
    <!-- Main Custom js file -->
    <script src="js/function.js"></script>
 <script src="/js/custom.js"></script>
</body>

</html>